@media screen and (max-width:767px) {
    .exhibit .circle:nth-child(1) {
        top: 0;
    }

    .circle {
        width: 150px;
        height: 150px;
        border-radius: 180px;
        background-color: rgba(212, 189, 156, 1);
        display: inline-block;
        position: relative;
    }
}

@media screen and (min-width:768px) {
    .exhibit .circle:nth-child(1) {
        top: 0;
    }

    .circle {
        width: 150px;
        height: 150px;
        border-radius: 180px;
        background-color: rgba(212, 189, 156, 1);
        display: inline-block;
        position: relative;
    }
}

@media screen and (min-width:1024px) {
    .exhibit .circle:nth-child(1) {
        top: -200px;
    }

    .circle {
        width: 200px;
        height: 200px;
        border-radius: 180px;
        background-color: rgba(212, 189, 156, 1);
        display: inline-block;
        position: relative;
    }
}



.about_title {
    max-width: 1200px;
    margin: auto;
}

.decorate {
    max-width: 500px;
    padding-top: 30px;
    margin: auto;
}

.decorate img {
    width: 100%;
}

.name {
    max-width: 100%;
    text-align: center;
    padding: 20px 0;
}

.about_title_txt {
    max-width: 400px;
    margin: auto;
    padding: 30px 0;
    position: relative;
}

.about_title_txt p {
    line-height: 25px;
}

.decorate1 {
    position: absolute;
    top: 15px;
    left: -10px;
}

.decorate2 {
    position: absolute;
    right: -10px;
    bottom: 15px;
}

.exhibit {
    text-align: center;
    padding: 40px 0;
}

.exhibit img {
    max-width: 100%;
}

/* .circle {
    width: 200px;
    height: 200px;
    border-radius: 180px;
    background-color: rgba(212, 189, 156, 1);
    display: inline-block;
    position: relative;
} */

.circle img {
    max-width: 100%;
    position: absolute;
    left: 20px;
    top: -10px;
}

/* .exhibit .circle:nth-child(1) {
    top: -200px;
} */

.photo_album {
    max-width: 1200px;
    margin: auto;
    padding: 60px 0;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(3, 34.5%);
}

.photo_album img {
    max-width: 100%;
}

/* -----------小圖漂浮效果---------- */
.move1 {
    animation: mymove1 5s infinite linear;
}

@keyframes mymove1 {
    0% {
        transform: translate3d(0, 5%, 0);
    }

    25% {
        transform: translate3d(5%, -5%, 0);
    }

    75% {
        transform: translate3d(-5%, -10%, 0);
    }

    100% {
        transform: translate3d(0, 5%, 0);
    }
}

.move2 {
    animation: mymove2 5s infinite linear;
}

@keyframes mymove2 {
    0% {
        transform: translate3d(0, 0%, 0);
    }

    25% {
        transform: translate3d(0, 10%, 0);
    }

    75% {
        transform: translate3d(0, -5%, 0);
    }

    100% {
        transform: translate3d(0, 0%, 0);
    }
}