@media screen and (max-width:767px) {
    .exhibit .circle:nth-child(1) {
        top: 0;
    }

    .circle {
        width: 150px;
        height: 150px;
        border-radius: 180px;
        background-color: rgba(212, 189, 156, 1);
        display: inline-block;
        position: relative;
    }

    .photo_album {
        max-width: 1200px;
        margin: auto;
        padding: 60px 0;
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: repeat(3, 34.5%);
        display: none;
    }

    #marquee {
        display: block;
        padding: 50px 0;
        width: 100%;

        .view {
            overflow: hidden;
            width: 100%;
        }

        .pic-container {
            display: flex;
            animation: marquee 30s infinite linear;

            .pic {
                flex-basis: 40%;
                flex-shrink: 0;

                @include media(1024) {
                    flex-basis: 25%;
                }

                @include media(768) {
                    flex-basis: 33.33%;
                }
            }
        }

        img {
            width: 100%;
            vertical-align: middle;
        }
    }
}

@media screen and (min-width:768px) {
    .exhibit .circle:nth-child(1) {
        top: 0;
    }

    .circle {
        width: 150px;
        height: 150px;
        border-radius: 180px;
        background-color: rgba(212, 189, 156, 1);
        display: inline-block;
        position: relative;
    }

    .photo_album {
        max-width: 1200px;
        margin: auto;
        padding: 60px 0;
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: repeat(3, 34.5%);
        display: block;
    }

    #marquee {
        display: none;
        padding: 50px 0;
        width: 100%;

        .view {
            overflow: hidden;
            width: 100%;
        }

        .pic-container {
            display: flex;
            animation: marquee 30s infinite linear;

            .pic {
                flex-basis: 40%;
                flex-shrink: 0;

                @include media(1024) {
                    flex-basis: 25%;
                }

                @include media(768) {
                    flex-basis: 33.33%;
                }
            }
        }

        img {
            width: 100%;
            vertical-align: middle;
        }
    }
}

@media screen and (min-width:1024px) {
    .exhibit .circle:nth-child(1) {
        top: -200px;
    }

    .circle {
        width: 200px;
        height: 200px;
        border-radius: 180px;
        background-color: rgba(212, 189, 156, 1);
        display: inline-block;
        position: relative;
    }

    .photo_album {
        max-width: 1200px;
        margin: auto;
        padding: 60px 0;
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: repeat(3, 34.5%);
        display: block;
    }

    #marquee {
        display: none;
        padding: 50px 0;
        width: 100%;

        .view {
            overflow: hidden;
            width: 100%;
        }

        .pic-container {
            display: flex;
            animation: marquee 30s infinite linear;

            .pic {
                flex-basis: 40%;
                flex-shrink: 0;

                @include media(1024) {
                    flex-basis: 25%;
                }

                @include media(768) {
                    flex-basis: 33.33%;
                }
            }
        }

        img {
            width: 100%;
            vertical-align: middle;
        }
    }
}



.about_title {
    max-width: 1200px;
    margin: auto;
}

.decorate {
    max-width: 500px;
    padding-top: 30px;
    margin: auto;
}

.decorate img {
    width: 100%;
}

.name {
    max-width: 100%;
    text-align: center;
    padding: 20px 0;
}

.about_title_txt {
    max-width: 400px;
    margin: auto;
    padding: 30px 10px;
    position: relative;
}

.about_title_txt p {
    line-height: 25px;
}

.decorate1 {
    position: absolute;
    top: 15px;
    left: 0px;
}

.decorate2 {
    position: absolute;
    right: 0px;
    bottom: 15px;
}

.exhibit {
    text-align: center;
    padding: 40px 0;
}

.exhibit img {
    max-width: 100%;
}

/* .circle {
    width: 200px;
    height: 200px;
    border-radius: 180px;
    background-color: rgba(212, 189, 156, 1);
    display: inline-block;
    position: relative;
} */

.circle img {
    max-width: 100%;
    position: absolute;
    left: 20px;
    top: -10px;
}

/* .exhibit .circle:nth-child(1) {
    top: -200px;
} */

/* .photo_album {
    max-width: 1200px;
    margin: auto;
    padding: 60px 0;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(3, 34.5%);
} */

.photo_album img {
    max-width: 100%;
}


/* .gallery__main {
    margin: auto;
    width: 1000px;
    height: 250px;
    overflow: hidden;
    position: relative;
}

.gallery__main ul {
    position: absolute;
    top: 0;
    left: 25px;
} */

/* -----------小圖漂浮效果---------- */
.move1 {
    animation: mymove1 5s infinite linear;
}

@keyframes mymove1 {
    0% {
        transform: translate3d(0, 5%, 0);
    }

    25% {
        transform: translate3d(5%, -5%, 0);
    }

    75% {
        transform: translate3d(-5%, -10%, 0);
    }

    100% {
        transform: translate3d(0, 5%, 0);
    }
}

.move2 {
    animation: mymove2 5s infinite linear;
}

@keyframes mymove2 {
    0% {
        transform: translate3d(0, 0%, 0);
    }

    25% {
        transform: translate3d(0, 10%, 0);
    }

    75% {
        transform: translate3d(0, -5%, 0);
    }

    100% {
        transform: translate3d(0, 0%, 0);
    }
}





/* 圖片跑馬燈 */
*,
*::before,
*::after {
    box-sizing: border-box;
    color: inherit;
    list-style: none;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #e8e8e8;
}

@mixin media($max) {
    @media (max-width: $max + px) {
        @content;
    }
}

/* @keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-(20% * 5));
    }
}

@include media(1024) {
    @keyframes marquee {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-(25% * 5));
        }
    }
}

@include media(768) {
    @keyframes marquee {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-(33.33% * 5));
        }
    }
} */

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-20%);
    }
}

@include media(1024) {
    @keyframes marquee {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-25%);
        }
    }
}

@include media(768) {
    @keyframes marquee {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-33.33%);
        }
    }
}


/* #marquee {
    padding: 50px 0;
    width: 100%;

    .view {
        overflow: hidden;
        width: 100%;
    }

    .pic-container {
        display: flex;
        animation: marquee 30s infinite linear;

        .pic {
            flex-basis: 40%;
            flex-shrink: 0;

            @include media(1024) {
                flex-basis: 25%;
            }

            @include media(768) {
                flex-basis: 33.33%;
            }
        }
    }

    img {
        width: 100%;
        vertical-align: middle;
    }
} */