@media screen and (max-width:767px) {
    .shopping_cart {
        width: 360px;
        background-color: #F5F5F5;
        border-top: 3px solid rgba(235, 192, 23, 1);
        padding: 40px;
        box-sizing: border-box;
        padding-top: 40px;
        margin-top: 40px;
        display: none;
    }

    .book {
        max-width: 1200px;
        margin: auto;
        display: block;
        padding-top: 40px;
    }

    .inquire {
        width: 100%;
        padding-bottom: 20px;
    }

    .onclick {
        max-width: 360px;
        height: 80px;
        display: flex;
        align-items: center;
        border: 1px solid #C2C2C2;
        background: var(--txt-area, #F5F5F5);
        box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.25);
        margin: 13px auto;
        font-weight: bold;
        box-sizing: border-box;
    }

    .search {
        width: 128px;
        height: 44px;
        border-radius: 22px;
        border: 1px solid var(--brand-color, #EBC017);
        background: var(--txt-area, #F5F5F5);
        display: block;
        margin: auto;
        transition: 0.3s;
    }

    .book_room_txt {
        background-color: #F5F5F5;
        padding: 20px 20px;
    }
}

@media screen and (min-width:768px) {
    .shopping_cart {
        width: 360px;
        background-color: #F5F5F5;
        border-top: 3px solid rgba(235, 192, 23, 1);
        padding: 40px;
        box-sizing: border-box;
        padding-top: 40px;
        margin-top: 40px;
        display: none;
    }

    .book {
        max-width: 1200px;
        margin: auto;
        display: block;
        padding-top: 40px;
    }

    .inquire {
        width: 100%;
        padding-bottom: 20px;
    }

    .onclick {
        max-width: 360px;
        height: 80px;
        display: flex;
        align-items: center;
        border: 1px solid #C2C2C2;
        background: var(--txt-area, #F5F5F5);
        box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.25);
        margin: 13px auto;
        font-weight: bold;
        box-sizing: border-box;
    }

    .search {
        width: 128px;
        height: 44px;
        border-radius: 22px;
        border: 1px solid var(--brand-color, #EBC017);
        background: var(--txt-area, #F5F5F5);
        display: block;
        margin: auto;
        transition: 0.3s;
    }

    .book_room_txt {
        background-color: #F5F5F5;
        padding: 20px 90px;
    }
}

@media screen and (min-width:1024px) {
    .shopping_cart {
        width: 360px;
        background-color: #F5F5F5;
        border-top: 3px solid rgba(235, 192, 23, 1);
        padding: 40px;
        box-sizing: border-box;
        padding-top: 40px;
        margin-top: 40px;
        display: block;
    }

    .book {
        max-width: 1200px;
        margin: auto;
        display: flex;
        padding-top: 40px;
    }

    .inquire {
        width: 40%;
        padding-bottom: 0;
    }

    .onclick {
        max-width: 360px;
        height: 80px;
        display: flex;
        align-items: center;
        border: 1px solid #C2C2C2;
        background: var(--txt-area, #F5F5F5);
        box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.25);
        margin: 13px 0;
        font-weight: bold;
        box-sizing: border-box;
    }

    .search {
        width: 128px;
        height: 44px;
        border-radius: 22px;
        border: 1px solid var(--brand-color, #EBC017);
        background: var(--txt-area, #F5F5F5);
        display: block;
        margin: 0;
        transition: 0.3s;
    }

    .book_room_txt {
        background-color: #F5F5F5;
        padding: 20px 90px;
    }
}


/* .book {
    max-width: 1200px;
    margin: auto;
    display: flex;
    padding-top: 40px;
} */

/* .inquire {
    width: 40%;
} */

/* .onclick {
    max-width: 360px;
    height: 80px;
    display: flex;
    align-items: center;
    border: 1px solid #C2C2C2;
    background: var(--txt-area, #F5F5F5);
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.25);
    margin: 13px 0;
    font-weight: bold;
    box-sizing: border-box;
} */

.onclick label {
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.onclick label img {
    padding: 0 10px;
}

.onclick label input {
    border: none;
    padding-left: 20px;
    background-color: transparent;
    max-width: 240px;
    height: 80px;
}

.onclick select {
    border: none;
    padding-left: 20px;
    background-color: transparent;
    width: 28%;
    height: 100%;
    margin-right: 10px;
}

.down {
    padding-right: 30px;
}

/* .search {
    width: 128px;
    height: 44px;
    border-radius: 22px;
    border: 1px solid var(--brand-color, #EBC017);
    background: var(--txt-area, #F5F5F5);
    display: block;
    margin: 0;
} */

.search:hover {
    background-color: #474747;
    color: #fff;
}

/* .shopping_cart {
    width: 360px;
    background-color: #F5F5F5;
    border-top: 3px solid rgba(235, 192, 23, 1);
    padding: 40px;
    box-sizing: border-box;
    padding-top: 40px;
    margin-top: 40px;
} */

.shopping_cart h4 {
    text-align: center;
    border-bottom: 1px solid #CACACA;
    width: 280px;
    margin: auto;
    padding: 10px 0;
    position: relative;
}

.shopping_cart h4::after {
    width: 15px;
    height: 15px;
    background-color: red;
    color: #fff;
    display: block;
    content: " 1 ";
    position: absolute;
    bottom: 20px;
    right: 98px;
    font-size: 14px;
    border-radius: 10px;
}

.details {
    background-color: #EEE4D6;
    width: 280px;
    margin: 30px 0;
    display: flex;
    justify-content: center;
}

.details p {
    padding: 20px 50px;
    line-height: 35px;
}

.sum {
    border-top: 1px solid #CACACA;
    line-height: 40px;
    display: flex;
    justify-content: space-between;
}

.shopping_cart a {
    background-color: rgba(212, 189, 156, 1);
    width: 100%;
    border: none;
    color: #fff;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 13px 0;
    transition: 0.3s;
}

.shopping_cart a:hover {
    background-color: #82663e;
}

.shopping_cart button {
    background-color: transparent;
    color: rgba(212, 189, 156, 1);
    width: 100%;
    padding: 13px;
    border: none;
}

.shopping_cart button span {
    text-decoration: none;
}

.shopping_cart button span:hover {
    text-decoration: underline;
}

.empty_room {}

.book_room {
    padding-bottom: 40px;
    max-width: 700px;
    margin: auto;
}

.book_room img {
    width: 100%;
}

/* .book_room_txt {
    background-color: #F5F5F5;
    padding: 20px 90px;
} */

.line {
    border: 1px solid #000;
    max-width: 480px;
    margin: 5px 0;
}

.book_room_txt p {
    display: inline-block;
    padding-top: 20px;
    margin-right: 30px;
}

.book_room_txt img {
    width: 20px;
}

.ct {
    padding: 10px 0;
}

.ct span {
    margin-right: 20px;
    font-size: 13px;
}

.book_room_txt a {
    display: block;
    font-size: 13px;
    color: #D4BD9C;
}

.more {
    font-size: 13px;
    color: #666;
    line-height: 2;
}

.more img {
    width: 13px;
}

.btm {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.btm h3 {
    font-weight: 500;
}

.btm a {
    background-color: #D4BD9C;
    padding: 10px 15px;
    border: none;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    transition: 0.3s;
}

.btm a:hover {
    background-color: #82663e;
}

/* ------------圖片輪播slide1------------ */
#slide1 {
    position: relative;
    max-width: 700px;
}

#slide1 img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 0.8s;
}

#slide1 img:first-child {
    position: static;
}

#slide1 img.show1 {
    opacity: 1;
    visibility: visible;
}

#slide1 .prev1,
#slide1 .next1 {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: 0.4s;
    background-color: rgba(0, 0, 0, 0.12);
    padding: 14px 12px;
}

#slide1 .prev1:hover,
#slide1 .next1:hover {
    background-color: rgba(0, 0, 0, 0.24);
}

#slide1 .prev1:after,
#slide1 .next1:after {
    display: block;
    content: "";
    width: 10px;
    height: 10px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
}

#slide1 .prev1 {
    left: 0;
}

#slide1 .prev1:after {
    transform: rotate(-135deg);
    margin-left: 4px;
}

#slide1 .next1 {
    right: 0;
}

#slide1 .next1:after {
    transform: rotate(45deg);
    margin-right: 4px;
}


/* ------------圖片輪播slide2------------ */
#slide2 {
    position: relative;
    max-width: 700px;
}

#slide2 img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 0.8s;
}

#slide2 img:first-child {
    position: static;
}

#slide2 img.show2 {
    opacity: 1;
    visibility: visible;
}

#slide2 .prev2,
#slide2 .next2 {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: 0.4s;
    background-color: rgba(0, 0, 0, 0.12);
    padding: 14px 12px;
}

#slide2 .prev2:hover,
#slide2 .next2:hover {
    background-color: rgba(0, 0, 0, 0.24);
}

#slide2 .prev2:after,
#slide2 .next2:after {
    display: block;
    content: "";
    width: 10px;
    height: 10px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
}

#slide2 .prev2 {
    left: 0;
}

#slide2 .prev2:after {
    transform: rotate(-135deg);
    margin-left: 4px;
}

#slide2 .next2 {
    right: 0;
}

#slide2 .next2:after {
    transform: rotate(45deg);
    margin-right: 4px;
}


/* ------------圖片輪播slide3------------ */
#slide3 {
    position: relative;
    max-width: 700px;
}

#slide3 img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 0.8s;
}

#slide3 img:first-child {
    position: static;
}

#slide3 img.show3 {
    opacity: 1;
    visibility: visible;
}

#slide3 .prev3,
#slide3 .next3 {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: 0.4s;
    background-color: rgba(0, 0, 0, 0.12);
    padding: 14px 12px;
}

#slide3 .prev3:hover,
#slide3 .next3:hover {
    background-color: rgba(0, 0, 0, 0.24);
}

#slide3 .prev3:after,
#slide3 .next3:after {
    display: block;
    content: "";
    width: 10px;
    height: 10px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
}

#slide3 .prev3 {
    left: 0;
}

#slide3 .prev3:after {
    transform: rotate(-135deg);
    margin-left: 4px;
}

#slide3 .next3 {
    right: 0;
}

#slide3 .next3:after {
    transform: rotate(45deg);
    margin-right: 4px;
}


/* ------------圖片輪播slide4------------ */
#slide4 {
    position: relative;
    max-width: 700px;
}

#slide4 img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 0.8s;
}

#slide4 img:first-child {
    position: static;
}

#slide4 img.show4 {
    opacity: 1;
    visibility: visible;
}

#slide4 .prev4,
#slide4 .next4 {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: 0.4s;
    background-color: rgba(0, 0, 0, 0.12);
    padding: 14px 12px;
}

#slide4 .prev4:hover,
#slide4 .next4:hover {
    background-color: rgba(0, 0, 0, 0.24);
}

#slide4 .prev4:after,
#slide4 .next4:after {
    display: block;
    content: "";
    width: 10px;
    height: 10px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
}

#slide4 .prev4 {
    left: 0;
}

#slide4 .prev4:after {
    transform: rotate(-135deg);
    margin-left: 4px;
}

#slide4 .next4 {
    right: 0;
}

#slide4 .next4:after {
    transform: rotate(45deg);
    margin-right: 4px;
}


/* ------------圖片輪播slide5------------ */
#slide5 {
    position: relative;
    max-width: 700px;
}

#slide5 img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 0.8s;
}

#slide5 img:first-child {
    position: static;
}

#slide5 img.show5 {
    opacity: 1;
    visibility: visible;
}

#slide5 .prev5,
#slide5 .next5 {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: 0.4s;
    background-color: rgba(0, 0, 0, 0.12);
    padding: 14px 12px;
}

#slide5 .prev5:hover,
#slide5 .next5:hover {
    background-color: rgba(0, 0, 0, 0.24);
}

#slide5 .prev5:after,
#slide5 .next5:after {
    display: block;
    content: "";
    width: 10px;
    height: 10px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
}

#slide5 .prev5 {
    left: 0;
}

#slide5 .prev5:after {
    transform: rotate(-135deg);
    margin-left: 4px;
}

#slide5 .next5 {
    right: 0;
}

#slide5 .next5:after {
    transform: rotate(45deg);
    margin-right: 4px;
}