@media screen and (max-width:767px) {
    .facility {
        max-width: 1200px;
        margin-left: auto;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .facility_box {
        max-width: 500px;
        margin: 18px;
    }

    .facility_bg {
        background-position: center center;
        background-repeat: no-repeat;
        height: 300px;
        width: 100%;
        background-size: cover;
        box-shadow: 11px 11px 6px rgba(212, 189, 156, 1);
    }

    .line {
        max-width: 300px;
        height: 100%;
        border-left: 1px solid rgba(235, 192, 23, 1);
        position: absolute;
        left: 20px;
        bottom: 90px;
    }

    .facility_txt {
        max-width: 400px;
        height: 300px;
        padding: 20px 40px;
        margin-left: auto;
        position: relative;
    }

    .viewpoint {
        max-width: 1200px;
        margin: auto;
        display: flex;
        padding-bottom: 40px;
        flex-direction: column-reverse;
    }

    .square {
        width: 98%;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: auto;
        grid-gap: 5px;
        margin: auto;
    }

    .viewpoint_tit {
        width: 100%;
        background-color: rgba(212, 189, 156, 1);
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .place h3 {
        text-align: center;
        font-size: 16px;
    }

    .place h3 a {
        color: #d4bd9c;
        text-decoration: none;
    }
}

@media screen and (min-width:768px) {
    .facility {
        max-width: 1200px;
        margin-left: auto;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .facility_box {
        max-width: 500px;
        margin: 18px;
    }

    .facility_bg {
        background-position: center center;
        background-repeat: no-repeat;
        height: 300px;
        width: 100%;
        background-size: cover;
        box-shadow: 11px 11px 6px rgba(212, 189, 156, 1);
    }

    .line {
        max-width: 300px;
        height: 100%;
        border-left: 1px solid rgba(235, 192, 23, 1);
        position: absolute;
        left: -10px;
        bottom: 90px;
    }

    .facility_txt {
        max-width: 400px;
        height: 300px;
        padding: 20px;
        margin-left: auto;
        position: relative;
    }

    .viewpoint {
        max-width: 1200px;
        margin: auto;
        display: flex;
        padding-bottom: 40px;
        flex-direction: column-reverse;
    }

    .square {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: auto;
        grid-gap: 5px;
    }

    .viewpoint_tit {
        width: 100%;
        background-color: rgba(212, 189, 156, 1);
        height: 100px;
        margin-top: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .place {
        position: static;
        transition: background 0.3s ease-out;
    }

    .place h3 {
        text-align: center;
        display: block;
        position: static;
        top: 0px;
        opacity: 0;
        display: flex;
        width: 100%;
        height: 100%;
    }

    .place h3 a {
        color: #d4bd9c;
        text-decoration: none;
        align-items: center;
        justify-content: center;
        opacity: 1;
    }
}

@media screen and (min-width:1024px) {
    .facility {
        max-width: 1200px;
        margin-left: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .facility_box {
        max-width: 500px;
        margin: 18px;
    }

    .facility_bg {
        background-position: center center;
        background-repeat: no-repeat;
        height: 300px;
        width: 500px;
        background-size: cover;
        box-shadow: 11px 11px 6px rgba(212, 189, 156, 1);
    }

    .line {
        max-width: 300px;
        height: 100%;
        border-left: 1px solid rgba(235, 192, 23, 1);
        position: absolute;
        left: -10px;
        bottom: 90px;
    }

    .facility_txt {
        width: 400px;
        height: 300px;
        padding: 20px;
        margin-left: auto;
        position: relative;
    }

    .viewpoint {
        max-width: 1200px;
        margin: auto;
        display: flex;
        padding-bottom: 40px;
        flex-direction: inherit;
    }

    .square {
        width: 80%;
        display: grid;
        grid-template-columns: repeat(3, 26%);
        grid-template-rows: repeat(3, 33%);
        grid-gap: 5px;
    }

    .viewpoint_tit {
        width: 20%;
        background-color: rgba(212, 189, 156, 1);
        height: 250px;
        margin-top: auto;
        margin-bottom: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .place {
        position: relative;
        transition: background 0.3s ease-out;
    }

    .place h3 {
        text-align: center;
        display: block;
        position: absolute;
        top: 0px;
        opacity: 0;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .place h3 a {
        color: #d4bd9c;
        text-decoration: none;
        align-items: center;
        justify-content: center;
        display: flex;
    }
}

/* .facility {
    max-width: 1200px;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
}

.facility_box {
    max-width: 500px;
    margin: 18px;
}

.facility_bg {
    background-position: center center;
    background-repeat: no-repeat;
    height: 300px;
    width: 500px;
    background-size: cover;
    box-shadow: 11px 11px 6px rgba(212, 189, 156, 1);
} */

.swim {
    background-image: url("../images/swim.jpg");
    /* background-position: center center;
    background-repeat: no-repeat;
    height: 300px;
    width: 500px;
    background-size: cover;
    box-shadow: 11px 11px 6px rgba(212, 189, 156, 1); */
}

.spa {
    background-image: url("../images/spa.jpg");
    /* background-position: center center;
    background-repeat: no-repeat;
    height: 300px;
    width: 500px;
    background-size: cover;
    box-shadow: 11px 11px 6px rgba(212, 189, 156, 1); */
}

.gym {
    background-image: url("../images/gym.jpg");
    /* background-position: center center;
    background-repeat: no-repeat;
    height: 300px;
    width: 500px;
    background-size: cover;
    box-shadow: 11px 11px 6px rgba(212, 189, 156, 1); */
}

.meeting {
    background-image: url("../images/meeting.jpg");
    /* background-position: center center;
    background-repeat: no-repeat;
    height: 300px;
    width: 500px;
    background-size: cover;
    box-shadow: 11px 11px 6px rgba(212, 189, 156, 1); */
}

/* .line {
    width: 300px;
    height: 100%;
    border-left: 1px solid rgba(235, 192, 23, 1);
    position: absolute;
    left: -10px;
    bottom: 90px;
}

.facility_txt {
    max-width: 400px;
    height: 300px;
    padding: 20px;
    margin-left: auto;
    position: relative;
} */

.facility_txt h2 {
    padding-bottom: 6px;
    border-left: 3px solid rgba(235, 192, 23, 1);
    margin-bottom: 7px;
    margin-top: 10px;
    height: 30px;
    padding-left: 5px;
}

.facility_txt p {
    line-height: 2;
    padding-left: 10px;
    padding-top: 40px;
}

/* .viewpoint {
    max-width: 1200px;
    margin: auto;
    display: flex;
    padding-bottom: 40px;
}

.square {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 26%);
    grid-template-rows: repeat(3, 33%);
    grid-gap: 5px;
} */

.square img {
    width: 100%;
}

/* .viewpoint_tit {
    width: 20%;
    background-color: rgba(212, 189, 156, 1);
    height: 250px;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.viewpoint_tit h3 {
    color: #fff;
}

/* .place {
    position: relative;
    transition: background 0.3s ease-out;
} */

.place img {
    opacity: 1;
    display: block;
    transition: opacity 0.3s ease-in-out;
}

/* .place h3 {
    width: 100%;
    height: 100%;
    text-align: center;
    display: block;
    position: absolute;
    top: 0px;
    opacity: 0;
} */

.place:hover h3 {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    background: #4641419c;
}

/* .place h3 a {
    color: #d4bd9c;
    text-decoration: none;
    width: 100%;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
} */


/* .box {
    background: #ddd;
    border: 2px solid #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5), inset 0 0 100px rgba(0, 0, 0, 0.4);
    float: left;
    margin: 10px;
    position: relative;
    width: 200px;
    height: 200px;
    transition: background 0.3s ease-out;
} */

/* .box img {
    height: 200px;
    width: 200px;
    opacity: 1;
    display: block;
    transition: opacity 0.3s ease-in-out;
} */

/* .box h2 {
    width: 176px;
    height: 176px;
    font-size: 34px;
    padding: 12px;
    opacity: 0;
    text-align: center;
    display: block;
    position: absolute;
    top: 0;
} */

/* .box h2 a {
    color: #eee;
    text-decoration: none;
} */

/* .box:hover img {
    opacity: 0;
} */

.box:hover h2 {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    background: #bd8cbf;
}

.box h2 a:hover {
    color: #f00;
}