@media screen and (max-width:767px) {
    .book_phone {
        background-color: rgba(232, 232, 232, 1);
        max-width: 1200px;
        margin: auto;
        display: flex;
        align-items: center;
        display: block;
    }

    .book_phone td {
        padding: 10px 0;
        margin: auto;
        width: 240px;
        text-align: center;
        box-sizing: border-box;
    }

    .book_phone td a {
        text-decoration: none;
        font-size: 20px;
        color: #000;
        transition-duration: .3s;
    }

    .book_phone td a:hover {
        color: rgb(206, 180, 142);
        transition-duration: .3s;
    }

    .book_phone>table {
        width: 100%;
    }

    input[type="date"] {
        font-size: 20px;
        color: #000;
        background-color: rgba(232, 232, 232, 1);
        border: none;
    }

    .book label {
        font-size: 20px;
        color: #000;
        background-color: rgba(232, 232, 232, 1);
        border: none;
    }

    .book {
        background-color: rgba(232, 232, 232, 1);
        max-width: 1200px;
        margin: auto;
        display: flex;
        align-items: center;
        display: none;
    }

    .introduce {
        width: 100%;
        /* height: 309px; */
        margin: 60px 0;
        /* position: relative; */
        margin-top: 50px;
    }

    .intreoduce_txt {
        position: static;
        bottom: -130px;
        height: auto;
        width: 100%;
        background-color: #fff;
        right: 0;
        border-radius: 30px 0px 0px 30px;
        box-shadow: -2px 2px 10px rgb(0 0 0 / 15%);
        padding: 10px;
        box-sizing: border-box;
    }

    .intreoduce_pic_exchange {
        position: static;
        top: -100px;
        right: 0;
        max-width: 1000px;
    }

    .pc {
        display: none;
    }

    .phone {
        display: block;
    }

    .intreoduce_txt_exchange {
        position: static;
        bottom: -130px;
        height: auto;
        width: 100%;
        background-color: #fff;
        border-radius: 0px 30px 30px 0px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
        padding: 10px;
        z-index: 1;
        box-sizing: border-box;
    }

    #roomView {
        position: relative;
        max-width: 310px;
        height: 400px;
        margin: auto;
        overflow: hidden;
    }
}

@media screen and (min-width:768px) {
    .book {
        background-color: rgba(232, 232, 232, 1);
        max-width: 1200px;
        margin: auto;
        display: flex;
        align-items: center;
        display: block;
    }

    .book td {
        padding: 10px 0;
        margin: auto;
        width: 240px;
        text-align: center;
        box-sizing: border-box;
    }

    .book td a {
        text-decoration: none;
        font-size: 20px;
        color: #000;
        transition-duration: .3s;
    }

    .book td a:hover {
        color: rgb(206, 180, 142);
        transition-duration: .3s;
    }

    .book_phone {
        background-color: rgba(232, 232, 232, 1);
        max-width: 1200px;
        margin: auto;
        display: flex;
        align-items: center;
        display: none;
    }

    input[type="date"] {
        font-size: 20px;
        color: #000;
        background-color: rgba(232, 232, 232, 1);
        border: none;
    }

    .book label {
        font-size: 20px;
        color: #000;
        background-color: rgba(232, 232, 232, 1);
        border: none;
    }

    .introduce {
        width: 100%;
        height: 350px;
        margin: 320px 0;
        position: relative;
    }

    .intreoduce_pic {
        position: static;
        top: -100px;
        max-width: 1000px;
    }

    .intreoduce_txt {
        position: static;
        bottom: -130px;
        height: 300px;
        width: 100%;
        background-color: #fff;
        right: 0;
        border-radius: 30px 0px 0px 30px;
        box-shadow: -2px 2px 10px rgb(0 0 0 / 15%);
        padding: 0px;
        box-sizing: border-box;
    }

    .intreoduce_pic_exchange {
        position: static;
        top: -100px;
        right: 0;
        max-width: 1000px;
    }

    .pc {
        display: block;
    }

    .phone {
        display: none;
    }

    .intreoduce_txt_exchange {
        position: static;
        bottom: -130px;
        height: 250px;
        width: 100%;
        background-color: #fff;
        border-radius: 0px 30px 30px 0px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
        padding: 0;
        z-index: 1;
        box-sizing: border-box;
    }

    #roomView {
        position: relative;
        max-width: 650px;
        height: 400px;
        margin: auto;
        overflow: hidden;
    }
}

@media screen and (min-width:1024px) {
    .book {
        background-color: rgba(232, 232, 232, 1);
        max-width: 1200px;
        margin: auto;
        display: flex;
        align-items: center;
        display: block;
    }

    .book td {
        padding: 10px 0;
        margin: auto;
        width: 240px;
        text-align: center;
        box-sizing: border-box;
    }

    .book td a {
        text-decoration: none;
        font-size: 20px;
        color: #000;
        transition-duration: .3s;
    }

    .book td a:hover {
        color: rgb(206, 180, 142);
        transition-duration: .3s;
    }

    table {
        border-color: rgba(180, 139, 78, 1);
    }

    input[type="date"] {
        font-size: 20px;
        color: #000;
        background-color: rgba(232, 232, 232, 1);
        border: none;
    }

    .book label {
        font-size: 20px;
        color: #000;
        background-color: rgba(232, 232, 232, 1);
        border: none;
    }

    .book_phone {
        background-color: rgba(232, 232, 232, 1);
        max-width: 1200px;
        margin: auto;
        display: flex;
        align-items: center;
        display: none;
    }

    .introduce {
        width: 100%;
        height: 350px;
        margin: 300px 0;
        position: relative;
    }

    .intreoduce_pic {
        position: absolute;
        top: -100px;
        max-width: 1000px;
    }

    .intreoduce_txt {
        position: absolute;
        bottom: -130px;
        height: 250px;
        width: 1000px;
        background-color: #fff;
        right: 0;
        border-radius: 30px 0px 0px 30px;
        box-shadow: -2px 2px 10px rgb(0 0 0 / 15%);
        padding: 30px;
        box-sizing: inherit;
    }

    .intreoduce_pic_exchange {
        position: absolute;
        top: -100px;
        right: 0;
        max-width: 1000px;
    }

    .pc {
        display: block;
    }

    .phone {
        display: none;
    }

    .intreoduce_txt_exchange {
        position: absolute;
        bottom: -130px;
        height: 250px;
        width: 1000px;
        background-color: #fff;
        border-radius: 0px 30px 30px 0px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
        padding: 30px;
        z-index: 1;
        box-sizing: inherit;
    }

    #roomView {
        position: relative;
        max-width: 1000px;
        height: 400px;
        margin: auto;
        overflow: hidden;
    }
}


/* .book {
    background-color: rgba(232, 232, 232, 1);
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
}

.book td {
    padding: 10px 0;
    margin: auto;
    width: 240px;
    text-align: center;
    box-sizing: border-box;
}

.book td a {
    text-decoration: none;
    font-size: 20px;
    color: #000;
    transition-duration: .3s;
}

.book td a:hover {
    color: rgb(206, 180, 142);
    transition-duration: .3s;
} */

/* table {
    border-color: rgba(180, 139, 78, 1);
}

input[type="date"] {
    font-size: 20px;
    color: #000;
    background-color: rgba(232, 232, 232, 1);
    border: none;
}

label {
    font-size: 20px;
    color: #000;
    background-color: rgba(232, 232, 232, 1);
    border: none;
} */

select {
    color: #000;
    background-color: rgba(232, 232, 232, 1);
    border: none;
}

/* .about {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 20px;
} */


.about-bg {
    background-image: url("../images/logo_opacity.png");
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: center;
}

.about_content {
    text-align: center;
    max-width: 925px;
    margin: auto;
    line-height: 1.5;
}


.about_content p {
    padding-bottom: 20px;
    font-size: 20px;
    line-height: 30px;
}

.room2 {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 30px 0;
}

.room2 h2 {
    padding: 30px 0;
}

.r1-5 {
    padding-top: 30px;
}

.room_card {
    display: flex;
    transition: left 1s;
}

.card {
    max-width: 200px;
    /* background-color: antiquewhite; */
    border: 1px solid rgb(175, 175, 175);
    margin: 5px;
    box-sizing: border-box;
}

.card img {
    width: 100%;
    vertical-align: top;
}

.card h3 {
    text-align: center;
    padding: 10px 0;
}

.card p {
    padding: 10px;
}

.container h2 {
    text-align: center;
    padding: 50px 0;
}

.activity {
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.tit {
    background-color: rgba(212, 189, 156, 1);
    padding: 3px;
    color: #fff;
    font-size: 16px;
}

.date {
    color: rgba(173, 173, 173, 1);
    font-size: 14px;
}

.discount {
    max-width: 500px;
    padding: 10px 0;
}

.discount a {
    font-size: 16px;
    padding: 10px 0;
    display: block;
    color: #000;
    text-decoration: none;
    transition-duration: .3s;
}

.discount a:hover {
    color: #CEB48E;
    transition-duration: .3s;
}

.discount img {
    width: 100%;
    vertical-align: top;
}

.other_discount {
    max-width: 500px;
    padding: 5px 0;
}

.other_discount a {
    padding: 10px 0;
    display: block;
    color: #000;
    text-decoration: none;
    transition-duration: .3s;
}

.other_discount a:hover {
    color: #CEB48E;
    transition-duration: .3s;
}

.balance {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* .introduce {
    width: 100%;
    height: 350px;
    margin: 300px 0;
    position: relative;
} */

/* .intreoduce_pic {
    position: absolute;
    top: -100px;
    max-width: 1000px;
} */

.intreoduce_pic img {
    border-radius: 0px 30px 30px 0px;
    width: 100%;
}

/* .intreoduce_txt {
    position: absolute;
    bottom: -130px;
    height: 250px;
    width: 1000px;
    background-color: #fff;
    right: 0;
    border-radius: 30px 0px 0px 30px;
    box-shadow: -2px 2px 10px rgb(0 0 0 / 15%);
    padding: 30px;
    box-sizing: border-box;
} */

.intreoduce_txt h3 {
    max-width: 700px;
    line-height: 70px;
    text-align: center;
}

.intreoduce_txt p {
    max-width: 700px;
    line-height: 2;
}

/* .intreoduce_pic_exchange {
    position: absolute;
    top: -100px;
    right: 0;
    max-width: 1000px;
} */

.intreoduce_pic_exchange img {
    border-radius: 30px 0px 0px 30px;
    width: 100%;
}

/* .intreoduce_txt_exchange {
    position: absolute;
    bottom: -130px;
    height: 250px;
    width: 1000px;
    background-color: #fff;
    border-radius: 0px 30px 30px 0px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    padding: 30px;
    z-index: 1;
    box-sizing: border-box;
} */

.intreoduce_txt_exchange h3 {
    max-width: 700px;
    line-height: 70px;
    text-align: center;
    margin-left: auto;
}

.intreoduce_txt_exchange p {
    max-width: 700px;
    line-height: 2;
    margin-left: auto;
}

.more_btn {
    line-height: 20px;
    display: block;
    background-color: #fff;
    padding: 10px;
    width: 100px;
    box-sizing: border-box;
    text-align: center;
    border: 2px solid rgba(212, 189, 156, 1);
    text-decoration: none;
    color: #333;
    transition-duration: .5s;
    margin-left: auto;
}

.more_btn:hover {
    background-color: rgba(212, 189, 156, 1);
    padding: 10px;
    width: 100px;
    box-sizing: border-box;
    text-align: center;
    border: 2px solid rgba(212, 189, 156, 1);
    float: right;
    text-decoration: none;
    color: #ffffff;
}

.more {
    position: relative;
}

.line {
    border: 1px solid rgba(212, 189, 156, 1);
    width: 80px;
    position: absolute;
    top: 21px;
    right: 85px;
    margin-left: auto;
}

/* ---------------------房間輪播------------------------- */
/* #roomView {
    position: relative;
    max-width: 1000px;
    height: 400px;
    margin: auto;
    overflow: hidden;
} */

.room {
    margin: 5px;
    position: absolute;
    top: 5px;
    width: 300px;
    height: 380px;
    text-align: center;
    display: inline-block;
    left: 320px;
    transition: left 2s;
    box-shadow: 0px 6px 11px 0px rgba(0, 0, 0, 0.18)
}

.room h3 {
    font-weight: 400;
    padding: 10px 0;
}

.room p {
    padding: 10px;
    line-height: 1.5;
}

.room:nth-child(1) {
    left: -315px;
    transition: left 2s;
}

.room:nth-child(2) {
    left: 0px;
    transition: left 2s;
}

.room:nth-child(3) {
    left: 340px;
    transition: left 2s;
}

.room:nth-child(4) {
    left: 680px;
    transition: left 2s;
}

.room:nth-child(5) {
    left: 1000px;
    transition: left 2s;
}

.room>img {
    position: relative;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 200px;
}

.room_btn {
    background-color: transparent;
    border: none;
    color: #555;
}