nav {
    position: static;
}

.head {
    display: flex;
    align-items: center;
    padding-left: 250px;
}

.head h1 {
    font-size: 30px;
    font-weight: 400;
    display: inline;
}

.head img {
    width: 40px;
}

.room_bg {
    width: 1200px;
    height: 300px;
    background-color: rgba(212, 189, 156, 1);
    position: relative;
    margin-top: 250px;
    margin-bottom: 30px;
    border-radius: 0px 30px 30px 0px;
}

.room_bg_exchange {
    width: 1200px;
    height: 300px;
    background-color: rgba(212, 189, 156, 1);
    position: relative;
    margin-top: 250px;
    margin-bottom: 30px;
    border-radius: 30px 0px 0px 30px;
    margin-left: auto;
}

.room_introduce {
    position: absolute;
    top: -160px;
    left: 80px;
}

.room_introduce h2 {
    font-size: 18px;
    border-left: 2px solid #EBC017;
    padding-left: 5px;
    margin-bottom: 5px;
}

.room_introduce img {
    max-width: 330px;
    height: auto;
}

.room_introduce p {
    color: #383838;
    ;
    max-width: 500px;
    padding-top: 30px;
    line-height: 30px;
}