::-moz-selection {
    background: #D4BD9C;
    color: white;
}

::selection {
    background: #D4BD9C;
    color: white;
}

@media screen and (max-width:767px) {
    .maun_buttom {
        text-align: center;
        display: none;
    }

    .information {
        display: flex;
        align-items: center;
        max-width: 1200px;
        margin: auto;
        padding-top: 30px;
        padding-bottom: 30px;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }

    .footer_logo {
        display: flex;
        align-items: center;
        display: none;
    }

    .focus {
        padding-bottom: 5%;
    }

    .first_txt {
        max-width: 300px;
        height: 50px;
        background-color: rgba(245, 245, 245, 1);
        display: inline-block;
        padding: 40px;
        display: flex;
        align-items: center;
        position: absolute;
        left: 80px;
    }

    .first_txt p {
        font-size: 24px;
        line-height: 2;
    }

    .first_txt {
        max-width: 300px;
        height: 50px;
        background-color: rgba(0, 0, 0, 0.5);
        display: inline-block;
        padding: 40px;
        display: flex;
        align-items: center;
        position: absolute;
        left: inherit;
    }

    .first_txt p {
        font-size: 18px;
        line-height: 2;
        color: #fff;
    }

    .index_bg {
        background-image: url("../images/index.jpg");
        width: 100%;
        height: 300px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .about_bg {
        background-image: url("../images/about.jpg");
        width: 100%;
        height: 300px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about_bg h1 {
        margin: 0;
        text-align: center;
        color: #fff;
        line-height: 2;
        font-weight: 500;
        font-size: 26px;
    }

    .book_bg {
        background-image: url("../images/book.jpg");
        width: 100%;
        height: 200px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .first {
        background-position: top center;
        height: 300px;
        display: flex;
        align-items: center;
        position: relative;
        max-width: 1200px;
        margin-left: auto;
        padding-bottom: 0;
        background-size: cover;
        justify-content: center;
    }

    .fast {
        background-color: #CEB48E;
        width: 75px;
        height: 75px;
        color: #FFF;
        font-size: 14px;
        border-radius: 180%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
        margin-left: auto;
        margin-right: 20px;
        position: sticky;
        bottom: 40px;
        text-decoration: none;
        transition: 0.8s;
        animation: fast 1.5s ease-in-out infinite alternate;
    }
}

@media screen and (min-width:768px) {
    .maun_buttom {
        text-align: center;
        display: none;
    }

    .information {
        display: flex;
        align-items: center;
        max-width: 1200px;
        margin: auto;
        padding-top: 30px;
        padding-bottom: 30px;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }

    .footer_logo {
        display: flex;
        align-items: center;
        display: none;
    }

    .focus {
        padding-bottom: 5%;
    }

    .first_txt {
        max-width: 300px;
        height: 50px;
        background-color: rgba(0, 0, 0, 0.5);
        display: inline-block;
        padding: 40px;
        display: flex;
        align-items: center;
        position: absolute;
        left: inherit;
    }

    .first_txt p {
        font-size: 24px;
        line-height: 2;
        color: #fff;
    }

    .index_bg {
        background-image: url("../images/index.jpg");
        width: 100%;
        height: 600px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .about_bg {
        background-image: url("../images/about.jpg");
        width: 100%;
        height: 500px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about_bg h1 {
        margin: 0;
        text-align: center;
        color: #fff;
        line-height: 2;
        font-weight: 500;
        font-size: 30px;
    }

    .book_bg {
        background-image: url("../images/book.jpg");
        width: 100%;
        height: 255px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .first {
        background-position: top center;
        background-position: top center;
        height: 300px;
        display: flex;
        align-items: center;
        position: relative;
        max-width: 1200px;
        margin-left: auto;
        padding-bottom: 70px;
        background-size: cover;
        justify-content: center;
    }

    .fast {
        background-color: #CEB48E;
        width: 84px;
        height: 84px;
        color: #FFF;
        font-size: 14px;
        border-radius: 180%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
        margin-left: auto;
        margin-right: 20px;
        position: sticky;
        bottom: 40px;
        text-decoration: none;
        transition: 0.8s;
        animation: fast 1.5s ease-in-out infinite alternate;
    }
}

@media screen and (min-width:1024px) {
    .maun_buttom {
        text-align: center;
        display: block;
    }

    .information {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1200px;
        margin: auto;
        padding-top: 30px;
        padding-bottom: 30px;
        flex-direction: row;
        text-align: left;
    }

    .footer_logo {
        display: flex;
        align-items: center;
        display: block;
    }

    .focus {
        padding-bottom: 0;
    }

    .first_txt {
        max-width: 300px;
        height: 50px;
        background-color: rgba(245, 245, 245, 1);
        display: inline-block;
        padding: 40px;
        display: flex;
        align-items: center;
        position: absolute;
        left: -17%;
    }

    .first_txt p {
        font-size: 24px;
        line-height: 2;
        color: #000;
    }

    .index_bg {
        background-image: url("../images/index.jpg");
        width: 100%;
        height: 500px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .about_bg {
        background-image: url("../images/about.jpg");
        width: 100%;
        height: 500px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about_bg h1 {
        margin: 0;
        text-align: center;
        color: #fff;
        line-height: 2;
        font-weight: 500;
        font-size: 36px;
    }

    .book_bg {
        background-image: url("../images/book.jpg");
        width: 100%;
        height: 255px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .first {
        background-position: top center;
        height: 300px;
        display: flex;
        align-items: center;
        position: relative;
        max-width: 1100px;
        margin-left: auto;
        padding-bottom: 70px;
        background-size: cover;
    }

    .fast {
        background-color: #CEB48E;
        width: 84px;
        height: 84px;
        color: #FFF;
        font-size: 14px;
        border-radius: 180%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
        margin-left: auto;
        margin-right: 50px;
        position: sticky;
        bottom: 40px;
        text-decoration: none;
        transition: 0.8s;
        animation: fast 1.5s ease-in-out infinite alternate;
    }
}

@font-face {
    font-family: HanaMinA;
    src: url(HanaMinA.woff) format("woff");
}

h1 {
    font-family: HanaMinA;
    font-size: 36px;
}

h2 {
    font-family: HanaMinA;
    font-size: 34px;
}

h3 {
    font-family: HanaMinA;
    font-size: 24px;
}

h4 {
    font-family: HanaMinA;
    font-size: 16px;
}

p {
    font-family: HanaMinA;
    font-size: 16px;
}

a {
    font-family: HanaMinA;
}

span {
    font-family: HanaMinA;
}

/* nav {
    background-color: rgba(104, 104, 104, 70%);
    position: absolute;
    width: 100%;
}

.main-header {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 2px 0;
}

nav .main-header .logo {
    max-width: 150px;
}

nav .main-header .logo img {
    width: 100%;
    vertical-align: top;
}

nav .main-header .maun {
    margin: auto;
}



.maun a {
    line-height: 30px;
    color: white;
    text-decoration: none;
    position: relative;
    padding: 23px 25px;
    display: inline-block;
    font-weight: 300;
}


.maun a:after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: rgba(235, 192, 23, 1);
    transform: scaleX(0);
    transition: .3s;
}

.maun a:hover:after {
    transform: scaleX(1);
}

nav .main-header .member {
    width: 150px;
    line-height: 40px;
}

nav .main-header .member a {
    margin: 0 5px;
    font-size: 20px;
}

.login {
    width: 16px;
}

.shopping {
    width: 21px;
} */

footer {
    background-color: rgba(139, 139, 139, 1);
    padding-top: 30px;
}

/* .maun_buttom {
    text-align: center;
} */

.maun_buttom a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 40px 30px;
    transition-duration: .5s;
}

.maun_buttom a:hover {
    display: inline-block;
    color: rgba(212, 189, 156, 1);
    text-decoration: none;
    padding: 40px 30px;
}

.maun_buttom span {
    color: white;
}

/* .information {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
} */

.logo {
    max-width: 200px;
    max-width: 200px;
    display: flex;
    align-items: center;
}

.logo img {
    width: 100%;
    vertical-align: top;
}

.focus h3 {
    font-size: 16px;
    color: white;
    font-weight: 300;
    line-height: 40px;
}

.focus a {
    padding: 0 8px;
}

.connection h3 {
    font-size: 16px;
    color: white;
    font-weight: 300;
    line-height: 40px;
}

.connection .link a {
    font-size: 14px;
    color: white;
    font-weight: 300;
    line-height: 30px;
    text-decoration: none;
}

.connection .link a:hover {
    text-decoration: underline;
}

.pic {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pic img {
    width: 100%;
    vertical-align: top;
}

/* .index_bg {
    background-image: url("../images/index.jpg");
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
} */

/* .about_bg {
    background-image: url("../images/about.jpg");
    width: 100%;
    height: 770px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .about_bg h1 {
    margin: 0;
    text-align: center;
    color: #fff;
    line-height: 2;
    font-weight: 500;
} */

/* .book_bg {
    background-image: url("../images/book.jpg");
    width: 100%;
    height: 255px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
} */

.pic h1 {
    position: absolute;
    /* font-size: 36px; */
    text-align: center;
    color: #fff;
    line-height: 2;
    font-weight: 500;
}

/* .first {
    background-position: top center;
    height: 300px;
    display: flex;
    align-items: center;
    position: relative;
    max-width: 1200px;
    margin-left: auto;
    padding-bottom: 70px;
    background-size: cover;
} */

.first_room {
    background-image: url("../images/room_first.jpg");
}

.first_food {
    background-image: url(../images/food_first.jpg);
}

.first_facility {
    background-image: url("../images/facility_first.jpg");
}

.first_traffic {
    background-image: url("../images/traffic_first.jpg");
}

/* .first_txt {
    width: 300px;
    height: 50px;
    background-color: rgba(245, 245, 245, 1);
    display: inline-block;
    padding: 40px;
    display: flex;
    align-items: center;
    position: absolute;
    left: 80px;
}

.first_txt p {
    font-size: 24px;
    line-height: 40px;
} */

.head {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin-left: auto;
    padding-top: 10%;
}

.head h1 {
    font-size: 30px;
    font-weight: 400;
    display: inline;
}

.head img {
    width: 40px;
}

/* .fast {
    background-color: #CEB48E;
    width: 84px;
    height: 84px;
    color: #FFF;
    font-size: 14px;
    border-radius: 180%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    margin-left: auto;
    margin-right: 50px;
    position: sticky;
    bottom: 40px;
    text-decoration: none;
    transition: 0.8s;
    animation: fast 1.5s ease-in-out infinite alternate;
} */

@keyframes fast {

    0%,
    100% {
        box-shadow: 0px 0px 15px #b19976;
    }

    50% {
        box-shadow: 0px 0px 80px #d8bd93;
    }
}

.fast:hover {
    background-color: rgba(245, 245, 245, 1);
    color: #CEB48E;
}

.tibame {
    text-align: center;
    color: #fff;
    background-color: #b8b8b8;
    padding: 15px 10px;
    line-height: 1.5;
    font-size: 14px;
}



/* 漢堡 */
nav {
    background-color: rgba(104, 104, 104, 70%);
    position: absolute;
    width: 100%;
}

/* .footer_logo {
    display: flex;
    align-items: center;
} */

.footer_logo img {
    vertical-align: top;
}

.main-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(104, 104, 104, 70%);
    /* border-bottom: 1px solid #000; */
    position: fixed;
    top: 0;
    z-index: 999;
    box-sizing: border-box;
}

.main-nav {
    display: flex;
}

.main-nav a {
    padding: 20px;
    text-decoration: none;
    color: #fff;
    transition: .5s;
    font-weight: 500;
}

#menu-switch {
    display: none;
}

.member {
    /* width: 150px; */
    line-height: 40px;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: flex-end; */
}

.member a {
    /* margin: 0 10px; */
    font-size: 20px;
}

.shopping {
    width: 21px;
    position: relative;
}

.shopping::after {
    width: 15px;
    height: 15px;
    background-color: red;
    color: #fff;
    display: block;
    content: " 1 ";
    position: absolute;
    bottom: 20px;
    right: 98px;
    font-size: 14px;
    border-radius: 10px;
}

.maun a {
    line-height: 30px;
    color: white;
    text-decoration: none;
    position: relative;
    /* padding: 23px 25px; */
    display: inline-block;
    font-weight: 300;
}


.maun a:after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: rgba(235, 192, 23, 1);
    transform: scaleX(0);
    transition: .3s;
}

.maun a:hover:after {
    transform: scaleX(1);
}

@media screen and (max-width: 767px) {

    .hb label {
        width: 40px;
        height: 40px;
        /* background-color: #fff; */
        display: block;
        position: relative;
    }

    .main-nav {
        position: absolute;
        width: 100%;
        /* margin: 0; */
        height: calc(100vh - 60px);
        background-color: #eee;
        top: 100%;
        left: 0;
        translate: -100% 0%;
        flex-direction: column;
        transition: 1s;
        opacity: 0;
    }

    .main-nav a+a {
        border-top: 1px solid #fff;
    }

    #menu-switch:checked+.main-header .main-nav {
        translate: 0% 0%;
        opacity: 1;
        z-index: 1;
    }

    /* -------------------------------------- */

    .hb span {
        width: 80%;
        height: 2px;
        background-color: rgb(255, 255, 255);
        position: absolute;
        inset: 0;
        margin: auto;
    }

    .hb span:nth-child(1) {
        translate: 0px -10px;
        rotate: 0deg;
        transition: translate 0.3s 0.3s,
            rotate 0.3s 0s;
    }

    .hb span:nth-child(2) {
        opacity: 1;
        transition: opacity 0.3s 0.6s;
    }

    .hb span:nth-child(3) {
        translate: 0px 10px;
        rotate: 0deg;
        transition: translate 0.3s 0.3s,
            rotate 0.3s 0s;
    }

    #menu-switch:checked+.main-header .hb span:nth-child(1) {
        translate: 0px 0px;
        rotate: 45deg;
        transition: translate 0.3s 0.3s,
            rotate 0.3s 0.6s;
    }

    #menu-switch:checked+.main-header .hb span:nth-child(2) {
        opacity: 0;
        transition: opacity 0.3s;
    }

    #menu-switch:checked+.main-header .hb span:nth-child(3) {
        translate: 0px 0px;
        rotate: -45deg;
        transition: translate 0.3s 0.3s,
            rotate 0.3s 0.6s;
    }

    .maun a {
        line-height: 30px;
        color: white;
        text-decoration: none;
        position: relative;
        /* padding: 23px 25px; */
        display: block;
        font-weight: 300;
        background-color: #CEB48E;
    }
}

@media screen and (min-width: 768px) {
    .hb {
        display: none;
    }

    .main-nav {
        flex-direction: row;
    }


    .member {
        /* width: 150px; */
        line-height: 40px;
        /* display: flex; */
        align-items: center;
        /* justify-content: flex-end; */
    }

}

@media screen and (min-width: 768px) and (hover:hover) {
    .main-nav a:hover {
        color: #CEB48E;
    }
}